//класс, чтобы изменить задний фон оффера и хэдера на главной странице. (хэдер должен быть внутри)
.header-offer-wrapper {
  background: linear-gradient(
    90deg,
    var(--background-color) 0%,
    var(--background-color) 55%,
    var(--secondary-background-color) 55%,
    var(--secondary-background-color) 100%
  );
  padding-bottom: 7.6vh;
}

.offer {
  display: grid;
  grid-template-columns: 55% 1fr;

  // .offer__desc

  &__desc {
    padding-left: 15.3vw;
    padding-top: 18.3vh;
    padding-right: 4vw;
    display: flex;
    flex-direction: column;
    row-gap: 5.7vh;
  }

  // .offer__title

  &__title {
    @include h1;
    margin: 0;
  }

  // .offer__tagline

  &__tagline {
    @include large-text;
    text-align: end;

    margin-right: 10.68vw;
  }

  // .offer__buttons

  &__buttons {
    display: flex;
    align-items: stretch;
    margin-right: 10.68vw;
    justify-content: end;
  }

  // .offer__button

  &__button {
    @include main-text;
    color: var(--background-color);
    // .offer__button_scroll

    &_scroll {
      @include white-button;
      padding: 19.5px 26px;
      background-color: var(--arrow-button-cta-color);
      border-color: var(--arrow-button-cta-color);

      &:hover {
        @include white-button-hover;

        background-color: var(--arrow-button-cta-color);
      }
    }

    // .offer__button_store

    &_store {
      @include cta-button;

      &:hover {
        @include cta-button-hover;
      }
    }
  }

  // .offer__arrow

  &__arrow {
    transition: 0.7s ease;
  }

  // .offer__pictures

  &__pictures {
    margin-left: 3.125vw;
    margin-right: 15.9vw;
  }

  // элемент в котором лежит большая фотография

  &__picture-wrap {
    position: relative;
  }

  // .offer__photo

  &__photo {
    max-width: 100%;

    // .offer__photo_large

    &_large {
    }

    // .offer__photo_small

    &_small {
      z-index: 1;
      position: absolute;
      left: 39vh;
      bottom: 20.5vw;
    }

    // .offer__photo_mid

    &_mid {
      z-index: 1;
      position: absolute;
      bottom: -7.6vh;
      left: -8.46vw;
    }
  }

  // элемент в котором лежат фотографии поменьше

  &__pictures-container {
    position: relative;
  }
}
