.store-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 190px 14.3vw;

  @media (max-width: 330px) {
    align-items: center;
  }

  &__title {
    @include h1;
    margin: 0 0 26px 0;
  }

  &__path {
    @include main-text;
    color: var(--font-color);

    &_current {
      color: var(--current-path-color);
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 14.3vw clamp(65px, 9.02vw, 130px) 14.3vw;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: space-between;
    row-gap: 65px;
    margin-bottom: 65px;
    width: 100%;

    @media (max-width: 1350px) {
      grid-template-columns: repeat(2, 300px);
    }

    @media (max-width: $big-tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 530px 1fr 0.5fr;
    justify-items: center;
    justify-content: center;

    &-image {
      display: block;
      max-width: 300px;
      object-fit: cover;
      object-position: center;
      transition: 0.5s ease;

      &-arrow {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--image-hover-cta-color);
        transition: 0.5s ease;
      }
    }

    &-name {
      @include h4;
      margin-top: 24px;
      text-align: center;
    }

    &-price {
      @include price;
      color: var(--accent-color);
      margin-top: 10px;

      &_old {
        color: var(--old-price-color);
        text-decoration: line-through;
      }
    }
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;

    > .products__item-image-arrow {
      opacity: 0;
    }

    &:hover > .products__item-image-arrow {
      opacity: 1;
      cursor: pointer;
    }
  }

  &__filter-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    gap: 10px;
    margin-bottom: clamp(65px, 7.75vw, 92px);
  }

  &__filter-button {
    @include filter-button;

    &:hover,
    &_active {
      @include filter-button-hover;
    }
  }

  &__items-shown {
    @include main-text;
    color: var(--items-on-page-color);
    margin-bottom: 65px;
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__page-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }

  &__page-button {
    @include page-button;

    &:hover,
    &_active {
      @include page-button-hover;
    }
  }

  &__page-next {
    width: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  &__error-message {
    @include main-text;
    align-self: center;
  }
}
#loading {
  width: 5rem;
  height: 5rem;
  border: 5px solid var(--slider-nav-color);
  border-top: 6px solid var(--cta-color);
  border-radius: 100%;
  margin: 40px auto;
  display: none;
  animation: spin 1s infinite linear;

  &.display {
    display: block;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
