@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-VariableFont_wght.eot");
  src: url("/assets/fonts/Raleway-VariableFont_wght.eot") format("embedded-opentype"), url("/assets/fonts/Raleway-VariableFont_wght.woff2") format("woff2"), url("/assets/fonts/Raleway-VariableFont_wght.woff") format("woff"), url("/assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype"), url("/assets/fonts/Raleway-VariableFont_wght.otf") format("opentype");
  font-weight: 300 800;
  font-style: normal;
}
:root {
  --background-color: #ffffff;
  --secondary-background-color: #f1eadc;
  --font-color: #000000;
  --cta-color: #6e9c9f;
  --modal-background-cta-color: rgba(110, 156, 159, 0.95);
  --image-hover-cta-color: rgba(110, 156, 159, 0.64);
  --arrow-button-cta-color: rgba(110, 156, 159, 0.1);
  --button-hover-color: #509498;
  --link-underline-color: #cededf;
  --accent-color: #998e78;
  --current-path-color: #909090;
  --items-on-page-color: #808080;
  --old-price-color: #9c9c9c;
  --quantity-box-color: #afafaf;
  --placeholder-color: #868686;
  --slider-nav-color: #d1d1d1;
  font-family: "Raleway";
  font-style: normal;
  font-size: 10px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.header-offer-wrapper {
  background: linear-gradient(90deg, var(--background-color) 0%, var(--background-color) 55%, var(--secondary-background-color) 55%, var(--secondary-background-color) 100%);
  padding-bottom: 7.6vh;
}
@media (max-width: 1024px) {
  .header-offer-wrapper {
    padding-bottom: 2vh;
  }
}

.offer {
  display: grid;
  grid-template-columns: 55% 45%;
}
@media (max-width: 768px) {
  .offer {
    display: flex;
    flex-direction: column;
  }
}
.offer__desc {
  padding-left: 14.3vw;
  padding-top: 18.3vh;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  row-gap: 5.7vh;
}
@media (max-width: 1280px) {
  .offer__desc {
    padding-left: 5vw;
  }
}
.offer__slider-body {
  overflow: hidden;
}
.offer__slider-line {
  display: flex;
  transition: all ease 1s;
}
.offer__slide {
  display: flex;
  flex-direction: column;
  row-gap: 5.7vh;
}
.offer__title {
  font-weight: 500;
  font-size: clamp(4rem, 6vw, 5.5rem);
  line-height: 110%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
  margin: 0;
  margin-left: 1rem;
}
.offer__tagline {
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
  text-align: end;
  margin-right: 10.68vw;
}
.offer__buttons {
  display: flex;
  align-items: stretch;
  margin-right: 10.68vw;
  justify-content: end;
}
.offer__button {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--background-color);
}
.offer__button_scroll {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 138.9%;
  letter-spacing: 0.02rem;
  text-align: center;
  color: var(--cta-color);
  background-color: var(--background-color);
  border: 1px solid var(--cta-color);
  padding: 22px 50px;
  padding: 19.5px 26px;
  background-color: var(--arrow-button-cta-color);
  border-color: var(--arrow-button-cta-color);
}
.offer__button_scroll:hover {
  color: var(--background-color);
  background-color: var(--cta-color);
  border: 1px solid var(--cta-color);
  transition: 0.5s ease;
  cursor: pointer;
  background-color: var(--arrow-button-cta-color);
}
.offer__button_store {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 138.9%;
  letter-spacing: 0.02rem;
  text-align: center;
  color: var(--background-color);
  background-color: var(--cta-color);
  border: 1px solid var(--cta-color);
  padding: 22px 50px;
}
.offer__button_store:hover {
  color: var(--background-color);
  background-color: var(--button-hover-color);
  border: 1px solid var(--button-hover-color);
  transition: 0.5s ease;
  cursor: pointer;
}
.offer__arrow {
  position: relative;
  top: 0px;
  transition: 0.7s ease;
}
.offer__slider-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 5vh;
  margin-right: 10.68vw;
}
.offer__slider-click {
  width: 30px;
  border-top: 4px solid var(--slider-nav-color);
  cursor: pointer;
  margin: 6px;
  padding: 6px;
}
.offer__pictures {
  margin-left: 3.125vw;
  padding-right: 15.9vw;
}
@media (max-width: 1280px) {
  .offer__pictures {
    padding-right: 13vw;
  }
}
@media (max-width: 768px) {
  .offer__pictures {
    display: none;
  }
}
.offer__slider-pic-body {
  overflow: hidden;
}
.offer__slider-pic-line {
  display: flex;
  transition: all ease 1s;
}
.offer__photo {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .offer__photo_large {
    margin-top: 10vh;
  }
}
@media (max-width: 768px) {
  .offer__photo_large {
    max-width: 87%;
    margin-left: 8vw;
  }
}
.offer__photo_small {
  z-index: 1;
  position: absolute;
  left: 20.1vw;
  bottom: 40.8vh;
}
@media (max-width: 1280px) {
  .offer__photo_small {
    left: 22.5vw;
    bottom: 32.5vh;
    max-width: 50%;
  }
}
@media (max-width: 1024px) {
  .offer__photo_small {
    left: 23vw;
    top: -35vh;
  }
}
@media (max-width: 768px) {
  .offer__photo_small {
    left: 57vw;
    max-width: 41%;
  }
}
.offer__photo_mid {
  z-index: 1;
  position: absolute;
  bottom: -7.6vh;
  left: -8.46vw;
}
@media (max-width: 1280px) {
  .offer__photo_mid {
    max-width: 60%;
  }
}
@media (max-width: 1024px) {
  .offer__photo_mid {
    bottom: -7.6vh;
    max-width: 55%;
    left: -6vw;
  }
}
@media (max-width: 768px) {
  .offer__photo_mid {
    max-width: 40%;
    bottom: -71.6vh;
    left: -1vw;
  }
}
.offer__pictures-container {
  position: relative;
}

#offerSlideNav1 {
  border-color: #000;
}

.new-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: clamp(65px, 9.02vw, 130px) 14.3vw;
}
.new-collection__title {
  font-weight: 500;
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
  margin-bottom: clamp(65px, 5.75vw, 92px);
  align-self: flex-start;
}
@media (max-width: 1024px) {
  .new-collection__title {
    align-self: center;
    text-align: center;
  }
}
.new-collection__slider-arrow-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.new-collection__slider-side-arrow {
  display: none;
}
@media (max-width: 1024px) {
  .new-collection__slider-side-arrow {
    display: block;
    width: 28px;
    margin: 0 50px;
  }
  .new-collection__slider-side-arrow:hover {
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .new-collection__slider-side-arrow {
    display: none;
  }
}
.new-collection__slider-bottom-arrows {
  display: none;
}
@media (max-width: 768px) {
  .new-collection__slider-bottom-arrows {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: clamp(50px, 4vw, 65px);
  }
}
.new-collection__slider-bottom-arrow {
  width: 28px;
}
.new-collection__slider-bottom-arrow:hover {
  cursor: pointer;
}
.new-collection__slider-body {
  overflow: hidden;
}
.new-collection__slider-line {
  display: flex;
  transition: all ease 1s;
}
@media (min-width: 1025px) {
  .new-collection__slider-line {
    justify-content: space-between;
    gap: 30px;
    max-width: 100%;
  }
}
.new-collection__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-collection__item-image {
  display: block;
  width: 100%;
  max-width: 350px;
  max-height: 478px;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}
.new-collection__item-image-arrow {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--image-hover-cta-color);
  transition: 0.5s ease;
}
.new-collection__item-name {
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
  margin-top: 24px;
}
.new-collection__item-price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--accent-color);
  margin-top: 10px;
}
.new-collection__item-price_old {
  color: var(--old-price-color);
  text-decoration: line-through;
}
.new-collection__image-wrapper {
  position: relative;
  overflow: hidden;
}
.new-collection__image-wrapper > .new-collection__item-image-arrow {
  opacity: 0;
}
.new-collection__image-wrapper:hover > .new-collection__item-image-arrow {
  opacity: 1;
  cursor: pointer;
}
.new-collection__button {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 138.9%;
  letter-spacing: 0.02rem;
  text-align: center;
  color: var(--cta-color);
  background-color: var(--background-color);
  border: 1px solid var(--cta-color);
  padding: 22px 50px;
  margin-top: clamp(50px, 4vw, 65px);
  align-self: center;
}
.new-collection__button:hover {
  color: var(--background-color);
  background-color: var(--cta-color);
  border: 1px solid var(--cta-color);
  transition: 0.5s ease;
  cursor: pointer;
}

.store-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 190px 14.3vw;
}
@media (max-width: 330px) {
  .store-offer {
    align-items: center;
  }
}
.store-offer__title {
  font-weight: 500;
  font-size: clamp(4rem, 6vw, 5.5rem);
  line-height: 110%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
  margin: 0 0 26px 0;
}
.store-offer__path {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
}
.store-offer__path_current {
  color: var(--current-path-color);
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 14.3vw clamp(65px, 9.02vw, 130px) 14.3vw;
}
.products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 65px;
  margin-bottom: 65px;
}
@media (max-width: 1024px) {
  .products__items {
    grid-template-columns: 1fr;
  }
}
.products__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products__item-image {
  display: block;
  width: 100%;
  max-width: 350px;
  max-height: 478px;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}
.products__item-image-arrow {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--image-hover-cta-color);
  transition: 0.5s ease;
}
.products__item-name {
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
  margin-top: 24px;
}
.products__item-price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--accent-color);
  margin-top: 10px;
}
.products__item-price_old {
  color: var(--old-price-color);
  text-decoration: line-through;
}
.products__image-wrapper {
  position: relative;
  overflow: hidden;
}
.products__image-wrapper > .products__item-image-arrow {
  opacity: 0;
}
.products__image-wrapper:hover > .products__item-image-arrow {
  opacity: 1;
  cursor: pointer;
}
.products__filter-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  gap: 10px;
  margin-bottom: clamp(65px, 7.75vw, 92px);
}
.products__filter-button {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  text-align: center;
  color: var(--font-color);
  background-color: #ffffff;
  border: 1px solid var(--font-color);
  padding-top: 19px;
  padding-bottom: 19px;
}
.products__filter-button:hover {
  color: #ffffff;
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
  transition: 0.5s ease;
  cursor: pointer;
}
.products__items-shown {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--items-on-page-color);
  margin-bottom: 65px;
}
.products__page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.products__page-button {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  text-align: center;
  color: var(--font-color);
  background-color: #ffffff;
  border: 1px solid var(--font-color);
  width: 41px;
  height: 41px;
}
.products__page-button:hover {
  color: #ffffff;
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
  transition: 0.5s ease;
  cursor: pointer;
}
.products__page-next {
  width: 20px;
}
.products__page-next:hover {
  cursor: pointer;
}