@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.eot");
  src: url("../fonts/Raleway-VariableFont_wght.eot") format("embedded-opentype"), url("../fonts/Raleway-VariableFont_wght.woff2") format("woff2"), url("../fonts/Raleway-VariableFont_wght.woff") format("woff"), url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype"), url("../fonts/Raleway-VariableFont_wght.otf") format("opentype");
  font-weight: 300 800;
  font-style: normal;
}
:root {
  --background-color: #ffffff;
  --secondary-background-color: #f1eadc;
  --font-color: #000000;
  --cta-color: #6e9c9f;
  --modal-background-cta-color: rgba(110, 156, 159, 0.95);
  --image-hover-cta-color: rgba(110, 156, 159, 0.64);
  --arrow-button-cta-color: rgba(110, 156, 159, 0.1);
  --button-hover-color: #509498;
  --link-underline-color: #cededf;
  --accent-color: #998e78;
  --current-path-color: #909090;
  --items-on-page-color: #808080;
  --old-price-color: #9c9c9c;
  --quantity-box-color: #afafaf;
  --placeholder-color: #868686;
  --slider-nav-color: #d1d1d1;
  font-family: "Raleway";
  font-style: normal;
  font-size: 10px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.container {
  display: grid;
  grid-template-columns: 15% 52% 32% 2%;
  padding-left: 15%;
  padding-right: 20%;
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 1600px;
  align-items: center;
}
@media (max-width: 1280px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 767px) {
  .container__logo > img {
    max-width: 80%;
  }
}
@media (max-width: 563px) {
  .container__logo > img {
    display: none;
  }
}
.container__nav {
  padding-left: 90px;
}
@media (max-width: 663px) {
  .container__nav {
    padding-left: 0;
  }
}
.container__nav-link_active {
  color: var(--cta-color);
  font-weight: 700;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

nav > ul > li {
  list-style-type: none;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
}

nav > ul > li:hover {
  color: var(--cta-color);
  border-bottom: 1px solid var(--link-underline-color);
  transition: 0.5s ease;
  cursor: pointer;
}

.container__phone {
  display: grid;
  grid-template-columns: 0.1fr 3fr;
  column-gap: 10px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
}
.container__phone_num:hover {
  color: var(--cta-color);
  border-bottom: 1px solid var(--link-underline-color);
  transition: 0.5s ease;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .container__phone {
    display: none;
  }
}

.container__phone > img {
  width: 17px;
  height: 17px;
}

.container__basket {
  padding-left: 40px;
}
.container__basket:hover {
  cursor: pointer;
}

.store-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 190px 14.3vw;
}
@media (max-width: 330px) {
  .store-offer {
    align-items: center;
  }
}
.store-offer__title {
  font-weight: 500;
  font-size: clamp(4rem, 6vw, 5.5rem);
  line-height: 110%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
  margin: 0 0 26px 0;
}
.store-offer__path {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
}
.store-offer__path_current {
  color: var(--current-path-color);
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 14.3vw clamp(65px, 9.02vw, 130px) 14.3vw;
}
.products__items {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
  row-gap: 65px;
  margin-bottom: 65px;
  width: 100%;
}
@media (max-width: 1350px) {
  .products__items {
    grid-template-columns: repeat(2, 300px);
  }
}
@media (max-width: 1024px) {
  .products__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.products__item {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 530px 1fr 0.5fr;
  justify-items: center;
  justify-content: center;
}
.products__item-image {
  display: block;
  max-width: 300px;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}
.products__item-image-arrow {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--image-hover-cta-color);
  transition: 0.5s ease;
}
.products__item-name {
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
  margin-top: 24px;
  text-align: center;
}
.products__item-price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--accent-color);
  margin-top: 10px;
}
.products__item-price_old {
  color: var(--old-price-color);
  text-decoration: line-through;
}
.products__image-wrapper {
  position: relative;
  overflow: hidden;
}
.products__image-wrapper > .products__item-image-arrow {
  opacity: 0;
}
.products__image-wrapper:hover > .products__item-image-arrow {
  opacity: 1;
  cursor: pointer;
}
.products__filter-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  gap: 10px;
  margin-bottom: clamp(65px, 7.75vw, 92px);
}
.products__filter-button {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  text-align: center;
  color: var(--font-color);
  background-color: #ffffff;
  border: 1px solid var(--font-color);
  padding-top: 19px;
  padding-bottom: 19px;
}
.products__filter-button:hover, .products__filter-button_active {
  color: #ffffff;
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
  transition: 0.5s ease;
  cursor: pointer;
}
.products__items-shown {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--items-on-page-color);
  margin-bottom: 65px;
}
.products__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products__page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.products__page-button {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  text-align: center;
  color: var(--font-color);
  background-color: #ffffff;
  border: 1px solid var(--font-color);
  width: 41px;
  height: 41px;
}
.products__page-button:hover, .products__page-button_active {
  color: #ffffff;
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
  transition: 0.5s ease;
  cursor: pointer;
}
.products__page-next {
  width: 20px;
}
.products__page-next:hover {
  cursor: pointer;
}
.products__error-message {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  align-self: center;
}

#loading {
  width: 5rem;
  height: 5rem;
  border: 5px solid var(--slider-nav-color);
  border-top: 6px solid var(--cta-color);
  border-radius: 100%;
  margin: 40px auto;
  display: none;
  animation: spin 1s infinite linear;
}
#loading.display {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  background-color: var(--secondary-background-color);
  display: flex;
  padding: 13.1vh 14.3vw;
  justify-content: flex-start;
  margin-bottom: auto;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
}
@media (max-width: 1280px) {
  .footer {
    padding: 10vh 10vw;
  }
}
@media (max-width: 1024px) {
  .footer {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3vh;
  }
}
@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    padding: 5vh 10vw;
  }
}
.footer__logo {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
  margin-right: 5.18vw;
}
@media (max-width: 1280px) {
  .footer__logo {
    margin-right: 3vw;
  }
}
@media (max-width: 1024px) {
  .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }
}
.footer__logo-img {
  max-width: 100%;
  margin-bottom: 8.8vh;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .footer__logo-img {
    max-width: 75%;
  }
}
@media (max-width: 767px) {
  .footer__logo-img {
    margin-bottom: 2vh;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  row-gap: 0.63vh;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  row-gap: 4.92vh;
  grid-template-rows: repeat(2, min-content);
  column-gap: 2.9vw;
}
.footer__link {
  width: min-content;
  color: var(--font-color);
  padding-bottom: 3px;
  border: 1px solid transparent;
}
.footer__link:hover {
  font-weight: 700;
  color: var(--cta-color);
  border-bottom: 1px solid var(--link-underline-color);
  transition: 0.5s ease;
  cursor: pointer;
  font-weight: 400;
}
.footer__link_active {
  color: var(--cta-color);
  font-weight: 700;
}
.footer__clothing-links {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__clothing-link {
  width: min-content;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--font-color);
  border: 1px solid transparent;
}
.footer__clothing-link:hover {
  font-weight: 700;
  color: var(--cta-color);
  border-bottom: 1px solid var(--link-underline-color);
  transition: 0.5s ease;
  cursor: pointer;
  font-weight: 400;
}
.footer__clothing-link_active {
  color: var(--cta-color);
  font-weight: 700;
}
.footer__socials {
  margin-left: auto;
  text-align: end;
}
@media (max-width: 1024px) {
  .footer__socials {
    display: flex;
    flex-direction: column;
  }
}
.footer__tel-email {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.footer__tel, .footer__email {
  border: 1px solid transparent;
  width: fit-content;
}
.footer__tel:hover, .footer__email:hover {
  font-weight: 700;
  color: var(--cta-color);
  border-bottom: 1px solid var(--link-underline-color);
  transition: 0.5s ease;
  cursor: pointer;
  font-weight: 400;
}
.footer__tel {
  padding-top: 0;
}
.footer__email {
  padding-top: 1.14vh;
}
.footer__social-icons {
  display: flex;
  justify-content: end;
  column-gap: 0.78vw;
  padding: 3.79vh 0;
}
.footer__social-icons img {
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer__social-icons {
    column-gap: 3vw;
  }
}
.footer__visa {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

#privacyPolicy,
#publicOffer {
  width: fit-content;
  border: 1px solid transparent;
}
#privacyPolicy:hover,
#publicOffer:hover {
  font-weight: 700;
  color: var(--cta-color);
  border-bottom: 1px solid var(--link-underline-color);
  transition: 0.5s ease;
  cursor: pointer;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
}
